<div class="container">
<h1 style="font-weight:normal; font-size:22px;">Slackr API</h1>
<hr />
<h2 style="font-weight: 300;font-size: 36px;margin: 0 0 .5em;position: relative;line-height: 30px;">Overview</h2>

<p>
  This API provides the back-end functionality for building a realtime updating Slack clone with ReactJS, webpack and lodash.
</p>
<div class="col-md-8 col-md-offset-2 text-center">
<%= image_tag 'react.png' %>
<%= image_tag 'webpack.png' %>

<%= image_tag 'bootstrap.png' %>
<%= image_tag 'redux.png' %>
<%= image_tag 'sass.png' %>
<%= image_tag 'lodash.png' %>
<%= image_tag 'babel.png' %>
<%= image_tag 'es6.png' %>


</div>



</div>